*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: beige;
}
header img{
    width: 100px;
    height: 100px;
    margin: 15px;
}
header h1{
    font-size: 50px;
    color: orangered;
    text-align: center;
    background-color: aqua;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
header ul li a{
    font-size: 30px;
    color: chocolate;
    margin-left: 100px;
}
main h2 {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 100px;
    color: darkblue;
}
main p{
    color: #222;
    font-size: 20px;
    margin-left: 150px;
    margin-right: 150px;
}
main #img1{
    width: 70%;
    height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main .img{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
main .img #img2{
    width: 30%;
    height: 300px;
}
main .img #img3{
    width: 30%;
    height: 300px;
    margin-left: 15px;
}
main .img #img4{
    width: 30%;
    height: 300px;
    margin-left: 15px;
}
footer h2{
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 100px;
    color: darkblue;
}
footer #xet{
    font-size: 20px;
    text-align: center;
    color: darkblue;
}
footer table tr th{
    border: solid 1px black;
    width: 500px;
    height: 30px;
}
footer table{
    margin-top: 20px;
    border-collapse: collapse;
    margin-bottom: 20px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
footer #dangki{
    font-size: 20px;
    color: blue;
    margin: 10px;
    text-align: center;
    margin-left: 310px;
}
footer #list{
    font-size: 20px;
    color: #222;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 20px;
}
footer marquee{
    background-color: aqua;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer marquee img{
    width: 300px;
    height: 300px;
    margin-left: 50px;
}
footer div{
    color: violet;
    margin: 20px;
}